body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#signIn-button:hover {
  background-color: rgb(4, 163, 158)
}

#signIn-button{
  border-color: black;
  border: solid 1px black;
  background-color: rgb(0, 187, 180);
  width: 150px;
  height: 50px;
}

/*div container of the sign in component*/
.signIn {     
  margin: auto;
  width: 500px;
  /*border: 1px solid black;*/
}

/*table inside of the component*/
.signIn-table{
  vertical-align: center;
  width: 500px;
  height: 550px;
  margin: 0in 0in 0.5in 0in;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 2px;
  text-align: center;
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: rgb(249, 247, 231);
}

.signIn-table td{
  display: inline-block;
  padding: 15px;
  margin: auto;
}


/* 
  Stuff from App.css, I merged them 
  as it made more sense to hold all the css in one file
*/

nav, a {
  color: rgb(249, 247, 231);
}


#logging{
  float: right;
  align-self: auto;
  display: block;
  clear: both;
}

.logging-tables {
  font-size: 20px;
  text-align: center;
  padding: 3px;
  margin: 0px 50px 25px 10px;
  box-shadow: 1px 1px 1px grey;
  background-color:  rgb(249, 247, 231);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  width: 3.02in;
  border-color: black;
  border-collapse: collapse;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#navbar-style {
  background-image: linear-gradient(to right, rgb(0, 166, 207) , rgb(54, 73, 155));
  color: white;
}

footer {
  background-image: linear-gradient(to right, rgb(0, 166, 207) , rgb(54, 73, 155));
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}


.table {
  display: block;
  width: 4.0in;
  height: 500px;
  margin-bottom: 0px;
  overflow-y: scroll;
}


.form-control {
  display: inline;
  width: 3in;
  margin: 0px 0px 0px 0px;
}

.tables {
  font-size: 20px;
  margin: 0px 0px 50px 10px !important;
  box-shadow: 1px 1px 1px grey;
  background-color:  rgb(249, 247, 231);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  width: min-content;
  border-color: black;
  border-collapse: collapse;
}

#search-bars, button {
  margin: 5px 5px 5px 5px;
}

.navbar-brand{
  color: rgb(249, 247, 231);
  justify-content: center;
  margin: 0px;
}

#signin-row {
  border-top: none;
}

#add-btn-td{
  text-align: right;
}

#rem-btn{
  padding: 0px 9.5px;
  font-size: 17px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
}

table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-width: thin;
  width: 4in;
}

#add-btn {
  padding: 1px 8px;
  font-size: 15px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
}

#addnew-btn {
  padding: 6px 5px;
  font-size: 14px;
  margin: 0px;
  border-radius: 50%;
  text-align: center;
}

#signOutButton {
  background-color: white;
  color: black;
  border-color:white;
  align-self: auto;

}

#signOutButton:hover {
  background-color: rgb(255, 158, 24);

}

.react-sanfona-item-title:hover {
 background-color:  rgb(54, 73, 155);
}

.react-sanfona-item-title {
  padding: 5px 5px 5px 5px !important;
  font-size: 20px;
  text-align: center;
  width: 1.6in;
  margin: 2px 10px !important;
  color: white;
  box-shadow: 1px 1px 1px grey;
  background-color:  rgb(0, 166, 207);
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  border-collapse: collapse;
}


* {
  font-family: Arial, sans-serif;
}

