nav, a {
  color: rgb(249, 247, 231);
}

header {
  background-image: linear-gradient(to right, rgb(30, 106, 172) , rgb(19, 69, 109));
  color: rgb(249, 247, 231);
  min-height: 0.5in;
}

footer {
  background-image: linear-gradient(to right, rgb(30, 106, 172) , rgb(19, 69, 109));
  color: rgb(249, 247, 231);
}

.table {
  width: 4.0in;
  height: 110px;
  margin-bottom: 0px;
}

#select-area {
  background-color: white;
}

.form-control {
  display: inline;
  max-width: 2.5in;
  margin: 0px 0px 0px 0px;
}

.tables {
  font-size: 20px;
  margin: 0px 10px 50px 10px;
  box-shadow: 1px 1px 1px grey;
  background-color:  rgb(249, 247, 231);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  width: 4.02in;
  border-color: black;
  border-collapse: collapse;
}

#search-bars, button {
  margin: 5px 5px 5px 5px;
}

.navbar-brand{
  justify-content: center;
  margin: 0px;
}

#rem-btn{
  padding: 1px 9px;
  font-size: 15px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
}

#add-btn {
  padding: 1px 8px;
  font-size: 15px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
}

#signOutbutton {
  display: inline;
  padding: 0px;

}

* {
  font-family: Roboto;
}

